@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600;700&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  position: relative;
  right: 0;
}

.overlayLoad {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 9999;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlayLoad img {
  width: 70%;
  max-width: 450px;
  opacity: .7;
  -webkit-animation: opacidade 3s infinite;
          animation: opacidade 3s infinite;
}

@-webkit-keyframes opacidade {
  0% {
    opacity: .7;
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: .7;
  }
}

@keyframes opacidade {
  0% {
    opacity: .7;
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: .7;
  }
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  width: 7px;
  height: 7px;
  margin: 0 5px;
  border-radius: 50%;
  background: #B0986C;
  -webkit-transform: all ease 0.2s;
          transform: all ease 0.2s;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot.active {
  background: #008037;
}

h2, h3 {
  text-align: center;
  display: block;
  font-size: 20px;
  background: #008037;
  margin: 0 auto;
  color: white;
  padding: 5px;
  padding-right: 0;
  letter-spacing: 0.2em;
  -webkit-box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.94);
  box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.94);
}

.phoneMidia {
  width: 100%;
  height: 22px;
  background-color: #008037;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2%;
}

.phoneMidia .phone, .phoneMidia .midia {
  height: 100%;
  width: 35px;
  height: 35px;
  line-height: 22px;
}

.phoneMidia .phone p, .phoneMidia .midia p {
  font-size: 13px;
  white-space: nowrap;
  font-weight: bold;
  color: white;
}

.phoneMidia div.midia {
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.phoneMidia div.midia div {
  width: 17px;
  height: 17px;
}

.phoneMidia div.midia div i {
  font-size: 20px;
  color: white;
  cursor: pointer;
  line-height: 22px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.phoneMidia div.midia div i:hover {
  color: #B0986C;
}

nav {
  width: 100%;
  height: 60px;
  background-color: black;
  padding: 0 3%;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #b0986c6e;
  border-bottom: 2px solid #b0986c6e;
}

nav .menuToggle {
  position: absolute;
  display: none;
  height: 100%;
  left: 5%;
  width: 60px;
  line-height: 60px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .menuToggle i {
  font-size: 40px;
  color: white;
  cursor: pointer;
}

nav .logo {
  background-image: url(../assets/img/logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 70px;
}

nav .logo.logoMobile {
  display: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

nav div {
  height: 100%;
  width: 50px;
}

nav div.cartMenu {
  width: 75%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav div.cartMenu .menu {
  width: 90%;
  height: 100%;
}

nav div.cartMenu .menu ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav div.cartMenu .menu ul li a {
  font-size: 13px;
  font-weight: bold;
  color: #008037;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

nav div.cartMenu .menu ul li a:hover {
  color: #B0986C;
}

nav div.cartMenu .cart {
  width: 35px;
  height: 100%;
  text-align: right;
  line-height: 77px;
  position: relative;
}

nav div.cartMenu .cart i {
  color: #008037;
  font-size: 35px;
  cursor: pointer;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

nav div.cartMenu .cart i:hover {
  color: #B0986C;
}

nav div.cartMenu .cart p {
  position: absolute;
  top: 58%;
  cursor: pointer;
  font-weight: bold;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  left: 50%;
  font-size: 13px;
  color: white;
}

nav:first-of-type {
  top: 22px;
  position: fixed;
}

nav.mobileMenu {
  position: fixed;
  display: none;
  z-index: 2;
  top: -172px;
  background-color: white;
  height: 172px;
  -webkit-transition: .5s;
  transition: .5s;
}

nav.mobileMenu ul {
  width: 100%;
  height: 22px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav.mobileMenu ul li a {
  font-size: 11px;
  font-weight: bold;
  color: #008037;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

nav.mobileMenu ul li a:hover {
  color: #B0986C;
}

nav.mobileMenu.active {
  top: 60px;
}

section.bottomNav nav {
  position: relative;
  top: unset;
}

header {
  width: 100%;
  height: 80vh;
  margin-top: 82px;
  z-index: 1;
  padding: 0;
  background-image: url(../assets/img/bgDesktop.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

header::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  background: -webkit-gradient(linear, left top, right top, color-stop(47%, rgba(0, 0, 0, 0.96)), to(rgba(0, 0, 0, 0.659728)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.96) 47%, rgba(0, 0, 0, 0.659728) 100%);
}

header .logoContainer {
  position: relative;
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 27px 0;
}

header .logoContainer .logoMiddle {
  height: 260px;
  width: 370px;
  background-image: url(../assets/img/logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header .logoContainer .textContainer {
  width: 370px;
  text-align: center;
}

header .logoContainer .textContainer p {
  letter-spacing: 0.075em;
  font-size: 19px;
  font-weight: bold;
  color: #B0986C;
  font-family: "Cormorant Garamond";
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1f1f1f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00612a;
  width: 5px;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #005826;
}

section.massas {
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 50px;
}

section.massas h2 {
  width: 140px;
}

section.massas .massasContainer {
  height: 250px;
  width: 70%;
  min-width: 300px;
  max-width: 1050px;
  margin: 0 auto;
  margin-top: 50px;
}

section.massas .massasContainer .massaSingle {
  border: 4px solid #008037;
  cursor: pointer;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  background-image: url(../assets/img/paoFuncional.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

section.massas .massasContainer .massaSingle .massaMenu {
  width: 100%;
  height: 50px;
  background: #00803791;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  padding: 2px 5px;
  text-align: left;
  bottom: 0;
}

section.massas .massasContainer .massaSingle .massaMenu p {
  color: white;
  font-size: 13px;
}

section.massas .massasContainer .massaSingle .massaMenu p.massaInfo {
  font-size: 10px;
}

section.cardapio {
  width: 100%;
  height: 80vh;
  background: #EEEEEE;
  padding-top: 50px;
  overflow-y: scroll;
  overflow-x: hidden;
}

section.cardapio h2, section.cardapio h3 {
  width: 160px;
}

section.cardapio h3 {
  color: #008037;
  background: white;
  width: 240px;
  margin-top: 20px;
}

section.cardapio .cardapioContainer {
  width: 95%;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 50px;
  max-width: 1200px;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.cardapio .cardapioContainer::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

section.cardapio .cardapioContainer .massaSingle {
  height: 230px;
  width: 250px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  border: 4px solid #B0986C;
  margin-bottom: 20px;
}

section.cardapio .cardapioContainer .massaSingle img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

section.cardapio .cardapioContainer .massaSingle .massaMenu {
  width: 100%;
  height: 60px;
  background: #b0986cc2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  text-align: left;
  bottom: 0;
}

section.cardapio .cardapioContainer .massaSingle .massaMenu .menuContainer {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  padding: 2px 5px;
  text-align: left;
  top: 0;
}

section.cardapio .cardapioContainer .massaSingle .massaMenu .menuContainer p {
  color: white;
  font-size: 13px;
}

section.cardapio .cardapioContainer .massaSingle .massaMenu .menuContainer .ingredientesToggle {
  opacity: 0.95;
  cursor: pointer;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  color: #ffffff;
}

section.cardapio .cardapioContainer .massaSingle .massaMenu .menuContainer .ingredientesToggle:hover {
  opacity: 0.75;
}

section.cardapio .cardapioContainer .massaSingle .massaMenu .menuContainer .precoSingle {
  position: absolute;
  right: 7px;
  font-family: "Cormorant Garamond";
  letter-spacing: 0.075em;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}

section.cardapio .cardapioContainer .massaSingle p.ingredientes {
  display: none;
  color: white;
  font-size: 12px;
  margin-left: 5px;
  margin-top: 50px;
}

section.cardapio .cardapioContainer .massaSingle .comprarSingle {
  display: block;
  text-align: center;
  line-height: 22px;
  border-radius: 3px;
  bottom: -45px;
  left: -4px;
  background-color: #005826;
  position: absolute;
  white-space: nowrap;
  height: 30px;
  width: 130px;
  cursor: pointer;
  padding: 5px;
  font-weight: bold;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  color: white;
  font-size: 13px;
}

section.cardapio .cardapioContainer .massaSingle .comprarSingle:hover {
  opacity: 0.9;
}

.massaSingle.active .massaMenu {
  height: auto !important;
  padding-bottom: 5px;
}

.massaSingle.active p.ingredientes {
  display: block !important;
}

section.middle {
  width: 100%;
  height: 35px;
  background: #EEEEEE;
}

section.galeria {
  height: auto;
  margin-bottom: 50px;
  width: 100%;
  padding-top: 50px;
  text-align: center;
}

section.galeria h2 {
  width: 260px;
  margin-bottom: 50px;
}

section.galeria .galeriaContainer {
  width: 95%;
  max-width: 1450px;
  margin: 0 auto;
}

section.galeria .galeriaContainer .item {
  height: 400px;
  width: 200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.galeria .galeriaContainer .item .galeriaSingle {
  margin: 0 auto;
  width: 180px;
  height: 180px;
  cursor: pointer;
  border: 2px solid #008037;
  background-image: url(../assets/img/brownie.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section.depoimentos {
  height: auto;
  width: 100%;
  padding: 50px 0;
  background: #EEEEEE;
}

section.depoimentos h2 {
  width: 224px;
  margin-bottom: 50px;
  padding-left: 8px;
}

section.depoimentos .depoimentosContainer {
  width: 75%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

section.depoimentos .depoimentosContainer .depoimentoSingle {
  height: auto;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.depoimentos .depoimentosContainer .depoimentoSingle .depoimentoPic {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  border: 3px solid #B0986C;
  background-image: url(../assets/img/e.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section.depoimentos .depoimentosContainer .depoimentoSingle p {
  text-align: center;
  color: black;
  font-size: 14px;
  line-height: 20px;
  margin-top: 15px;
}

section.depoimentos .depoimentosContainer .depoimentoSingle p.depoimentoNome {
  color: #008037;
  font-weight: bold;
}

section.contato {
  width: 100%;
  height: 150px;
  background-color: black;
  margin-top: 50px;
  position: relative;
}

section.contato .contatoContainer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.contato .contatoContainer div {
  width: 100px;
}

section.contato .contatoContainer .contatoLogoMidia {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.contato .contatoContainer .contatoLogoMidia .logo {
  margin: 0 auto;
  width: 90%;
  height: 65px;
  background-image: url(../assets/img/logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section.contato .contatoContainer .contatoLogoMidia .midia {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.contato .contatoContainer .contatoLogoMidia .midia div {
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
}

section.contato .contatoContainer .contatoLogoMidia .midia div i {
  color: #008037;
  font-size: 25px;
  cursor: pointer;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

section.contato .contatoContainer .contatoLogoMidia .midia div i:hover {
  color: #B0986C;
}

section.contato .contatoContainer .contatoLogoMidia .phone {
  width: 100px;
  position: relative;
  top: -10px;
}

section.contato .contatoContainer .contatoLogoMidia .phone p {
  font-size: 14px;
  color: #fff;
  white-space: nowrap;
}

section.contato .contatoContainer .contatoText {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.contato .contatoContainer .contatoText p {
  display: block;
  color: white;
  font-size: 11px;
  line-height: 20px;
}

section.contato .feitoPor {
  position: absolute;
  right: 0px;
  bottom: 5px;
  z-index: 3;
  width: 200px;
  height: 50px;
}

section.contato .feitoPor img {
  height: 100%;
  width: 100%;
}

section.bottomNav {
  width: 100%;
  height: auto;
  background-color: #008037;
}

section.bottomNav nav {
  height: auto;
  background-color: #008037;
}

section.bottomNav nav div {
  margin: 0 auto !important;
}

section.bottomNav nav ul li a {
  color: #fff !important;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

section.bottomNav nav ul li a:hover {
  color: #B0986C;
}

section.feitoPorMobile {
  display: none;
  height: 70px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

section.feitoPorMobile a {
  width: 220px;
  height: 55px;
}

section.feitoPorMobile a img {
  height: 100%;
  width: 100%;
}

section.cart {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999;
  height: 100%;
  width: 100%;
  top: 0;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  max-width: 450px;
  padding: 20px 0;
  background: white;
  border-left: 1px solid #005826;
}

section.cart i.backArrow {
  position: absolute;
  top: 30px;
  left: 10px;
  color: #005826;
  font-size: 35px;
  cursor: pointer;
}

section.cart h2 {
  width: 175px;
  margin-top: 10px;
  font-size: 15px;
}

section.cart h3 {
  font-size: 11px;
  background: white;
  color: #005826;
  padding: 6px 18px;
}

section.cart h4 {
  top: 150px;
  position: absolute;
  display: none;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section.cart .descriptionContainer, section.cart .totalContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  margin-top: 30px;
  width: 95%;
  padding-bottom: 20px;
  border-bottom: 1px solid #00582657;
}

section.cart .productsContainer {
  width: 95%;
  height: 260px;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

section.cart .productsContainer .productWrapper {
  width: 98%;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.cart .productsContainer .productWrapper .productSingle {
  width: 100%;
  height: 85px;
  border-bottom: 1px solid #00582657;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

section.cart .productsContainer .productWrapper .productSingle .productDelete {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  right: -3px;
}

section.cart .productsContainer .productWrapper .productSingle .productDelete p {
  display: block;
  color: #222;
  font-size: 25px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

section.cart .productsContainer .productWrapper .productSingle .productDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 157px;
}

section.cart .productsContainer .productWrapper .productSingle .productDescription .productText {
  margin-left: 5px;
}

section.cart .productsContainer .productWrapper .productSingle .productDescription .productText p {
  color: #005826;
}

section.cart .productsContainer .productWrapper .productSingle .productDescription .productText .productName {
  font-size: 14px;
}

section.cart .productsContainer .productWrapper .productSingle .productDescription img {
  height: 50px;
  width: 50px;
}

section.cart .productsContainer .productWrapper .productSingle .productQtn {
  height: 100px;
  width: 100px;
  margin-left: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.cart .productsContainer .productWrapper .productSingle .productQtn p, section.cart .productsContainer .productWrapper .productSingle .productQtn input {
  display: block;
  height: 25px;
  width: 25px;
  text-align: center;
  font-size: 22px;
  line-height: 25px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section.cart .productsContainer .productWrapper .productSingle .productQtn .plusQtn {
  background: #fff;
  color: #005826;
  -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.51);
          box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.51);
  cursor: pointer;
}

section.cart .productsContainer .productWrapper .productSingle .productQtn .qtn input {
  color: #005826;
  font-size: 25px;
  border: none;
  outline: none;
  width: 50px !important;
}

section.cart .productsContainer .productWrapper .productSingle .productQtn .minusQtn {
  background: #005826;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}

section.cart .productsContainer .productWrapper .productSingle .productPrice {
  height: 50px;
  width: 110px;
  text-align: right;
  line-height: 50px;
}

section.cart .productsContainer .productWrapper .productSingle .productPrice span {
  color: #005826;
  font-weight: bold;
}

section.cart .productsContainer .productWrapper .productSingle .productPrice .realNumber {
  display: none;
}

section.cart .productObservation {
  width: 93.5%;
  margin: 0 auto;
  margin-top: 15px;
}

section.cart .productObservation p {
  font-size: 14px;
  color: #005826;
  font-weight: 600;
}

section.cart .productObservation textarea {
  resize: none;
  width: 100%;
  height: 60px;
  border: 1px solid #005826;
  outline: none;
  margin-top: 5px;
}

section.cart .productObservation textarea:focus {
  border: 2px solid #005826;
}

section.cart div.totalContainer {
  border-bottom: none;
  margin-top: 20px !important;
}

section.cart div.totalContainer h3 {
  position: relative;
}

section.cart div.totalContainer h3 .total, section.cart div.totalContainer h3 .subtotal {
  font-weight: 700;
}

section.cart.active {
  right: 0 !important;
}

h2.finalizarPedido {
  width: 240px !important;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  padding-left: 15px;
}

h2.finalizarPedido p {
  margin-left: 15px;
}

h2.finalizarPedido i {
  color: #fff !important;
  font-size: 29px;
}

@media screen and (max-width: 1250px) {
  section.cardapio .cardapioContainer {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 920px) {
  section.cardapio .cardapioContainer {
    width: 75%;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .feitoPor {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media screen and (max-width: 853px) {
  .phoneMidia {
    display: none;
  }
  nav:first-of-type {
    top: 0;
  }
  nav .menuToggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav.navDesktop div.cartMenu .menu ul {
    display: none;
  }
  .logoDesktop {
    opacity: 0;
    z-index: -1;
  }
  .logoMobile {
    display: block !important;
  }
  nav.mobileMenu {
    display: block;
  }
  header {
    margin-top: 60px;
  }
  header .logoContainer {
    width: 70%;
  }
  header::before {
    background: -webkit-gradient(linear, left top, right top, color-stop(60%, rgba(0, 0, 0, 0.96)), to(rgba(0, 0, 0, 0.659728)));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.96) 60%, rgba(0, 0, 0, 0.659728) 100%);
  }
}

@media screen and (max-width: 770px) {
  header {
    height: 80vh;
  }
  section.cardapio .cardapioContainer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  section.contato {
    height: 350px;
  }
  section.galeria .galeriaContainer {
    width: 420px;
  }
  section.contato .contatoContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.contato .contatoContainer .contatoLogoMidia {
    max-height: 190px;
  }
  section.contato .contatoContainer .contatoLogoMidia > * {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  section.contato .contatoContainer .contatoText {
    max-width: 380px;
    width: 90%;
  }
  section.contato .contatoContainer .contatoText p {
    text-align: center;
    font-size: 15px;
  }
  section.bottomNav nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.bottomNav nav div.cartMenu .menu ul li a {
    display: block;
    padding: 10px;
  }
  section.contato .feitoPor {
    display: none;
  }
  section.feitoPorMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .minusQtn {
    margin-left: 25px !important;
  }
}

@media screen and (max-width: 580px) {
  header .logoContainer {
    width: 100%;
    padding: 65px 0;
  }
  header .logoContainer div {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  header .logoContainer .textContainer p {
    font-size: 27px;
  }
  section.galeria .galeriaContainer {
    width: 90%;
    max-width: 420px;
  }
}

@media screen and (max-width: 421px) {
  section.contato .contatoContainer .contatoText p {
    font-size: 12px;
  }
}

@media screen and (max-height: 490px) {
  header .logoContainer {
    padding: 0px !important;
  }
  header .logoContainer div {
    -webkit-transform: scale(0.7) !important;
            transform: scale(0.7) !important;
  }
}

@media screen and (max-height: 420px) {
  header .logoContainer div.logoMiddle {
    height: 171px !important;
    width: 272px !important;
  }
}

@media screen and (max-height: 380px) {
  header .logoContainer div.logoMiddle {
    height: 140px !important;
    width: 207px !important;
  }
}
/*# sourceMappingURL=style.css.map */