@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600;700&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
    width: 7px;
    height: 7px;
    margin: 0 5px;
    border-radius: 50%;
    background: #B0986C ;
    transform: all ease 0.2s
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot.active{
    background: #008037;
}


h2, h3{
    text-align: center;
    display: block;
    font-size: 20px;
    background: #008037;
    margin: 0 auto;
    color: white;
    padding: 5px;
    padding-right: 0;
    letter-spacing: 0.2em;
    -webkit-box-shadow: 1px 2px 8px 1px rgba(0,0,0,0.94); 
    box-shadow: 1px 2px 8px 1px rgba(0,0,0,0.94);
}


.phoneMidia{
    width: 100%;
    height: 22px;
    background-color: #008037;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2;
    justify-content: space-between;
    padding: 0 2%;

    .phone, .midia{
        height: 100%;
        width: 35px;
        height: 35px;
        line-height: 22px;
        p{
            font-size: 13px;
            white-space: nowrap;
            font-weight: bold;
            color: white;
        }
    }
    div.midia{
        width: 45px;
        display: flex;
        justify-content: space-between;
        div{
            width: 17px;
            height: 17px;
            i{
                font-size: 20px;
                color: white;
                cursor: pointer;
                line-height: 22px;
                transition: all ease 0.2s;
                &:hover{
                    color: #B0986C;
                }
            }
        }
    }
}



nav{
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
    padding: 0 3%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #b0986c6e;
    border-bottom: 2px solid #b0986c6e;

    .menuToggle{
        position: absolute;
        display: none;
        height: 100%;
        left: 5%;
        width: 60px;
        line-height: 60px;
        text-align: center;
        align-items: center;
        i{
            font-size: 40px;
            color: white;
            cursor: pointer;
        }
    }

    .logo{
        background-image: url(../assets/img/logo.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 90%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 70px;
    }

    .logo.logoMobile{
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    div{
        height: 100%;
        width: 50px;
    }

    div.cartMenu{
        width: 75%;
        height: 100%;
        display: flex;
        .menu{
            width: 90%;
            height: 100%;
            ul{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;

                li {
                    a{
                        font-size: 13px;
                        font-weight: bold;
                        color: #008037;
                        transition: all ease 0.2s;
                        &:hover{
                            color: #B0986C;
                        }
                    }
                }
            }
        }
        .cart{
            width: 35px;
            height: 100%;
            text-align: right;
            line-height: 77px;
            position: relative;
            i{
                color: #008037;
                font-size: 35px;
                cursor: pointer;
                transition: all ease 0.2s;
                &:hover{
                    color: #B0986C;
                }
            }
            
            p{
                position: absolute;
                top: 58%;
                cursor: pointer;
                font-weight: bold;
                transform: translateY(-50%) translateX(-50%);
                left: 50%;
                font-size: 13px;
                color: white;     
            }
        }
    }
}

nav:first-of-type{
    top: 22px;
    position: fixed;
}

nav.mobileMenu{
    position: fixed;
    display: none;
    z-index: 2;
    top: -172px;
    background-color: white;
    height: 172px;
    transition: .5s;
    ul{
        width: 100%;
        height: 22px;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        li {
            a{
                font-size: 11px;
                font-weight: bold;
                color: #008037;
                transition: all ease 0.2s;
                &:hover{
                    color: #B0986C;
                }
            }
        }
    }
}

nav.mobileMenu.active{
    top: 60px;
}

section.bottomNav nav{
    position: relative;
    top: unset;
}

header{
    width: 100%;
    height: 80vh;
    margin-top: 82px;
    z-index: 1;
    padding: 0;
    background-image: url(../assets/img/bgDesktop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    &::before{
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,0.96) 47%, rgba(0,0,0,0.6597283181179776) 100%);    
    }

    .logoContainer{
        position: relative;
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        padding: 27px 0;

        .logoMiddle{
            height: 260px;
            width: 370px;
            background-image: url(../assets/img/logo.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .textContainer{
            width: 370px;
            text-align: center;
            p{
                letter-spacing: 0.075em;
                font-size: 19px;
                font-weight: bold;
                color: #B0986C;
                font-family: "Cormorant Garamond";
            }
        }
    }
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1f1f1f;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00612a;
    width: 5px;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #005826;
  }

section.massas{
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 50px;

    h2{
        width: 140px;
    }
    .massasContainer{
        height: 250px;
        width: 70%;
        min-width: 300px;
        max-width: 1050px;
        margin: 0 auto;
        margin-top: 50px;

        .massaSingle{
            border: 4px solid #008037;
            cursor: pointer;
            height: 200px;
            width: 200px;
            margin: 0 auto;
            background-image: url(../assets/img/paoFuncional.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            .massaMenu{
                width: 100%;
                height: 50px;
                background: #00803791;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                position: absolute;
                padding: 2px 5px;
                text-align: left;
                bottom: 0;

                p{
                    color: white;
                    font-size: 13px;
                }

                p.massaInfo{
                    font-size: 10px;
                }

            }
        }
    }
}

section.cardapio{
    width: 100%;
    height: 80vh;
    background: #EEEEEE;
    padding-top: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
    
    
    h2, h3{
        width: 160px;
    }

    h3{
        color: #008037;
        background: white;
        width: 240px;
        margin-top: 20px;
    }

    .cardapioContainer{
        width: 95%;
        margin: 0 auto;
        margin-top: 50px;
        padding-bottom: 50px;
        max-width: 1200px;
        height: auto;
        display: grid;
        grid-template-columns: (1fr 1fr 1fr 1fr);
        justify-content: space-around;
        &::after {
        content: "";
        flex: auto;
        }

        .massaSingle{
            height: 230px;
            width: 250px;
            margin: 0 auto;
            margin-top: 50px;
            background-image: url(../assets/img/paoFuncional2.png);
            background-size: cover;
            background-position: center;
            background-repeat: repeat;
            position: relative;
            border: 4px solid #B0986C;
            margin-bottom: 20px;

            .massaMenu{
                width: 100%;
                height: 40px;
                background: #b0986cc2;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                position: absolute;
                padding: 2px 5px;
                text-align: left;
                bottom: 0;
                
                p{
                    color: white;
                    font-size: 13px;
                }

                .ingredientes{
                    opacity: 0.95;
                    cursor: pointer;    
                    transition: all ease 0.2s;
                    color: #ffffff;
                    &:hover{
                        opacity: 0.75;
                    }
                }

                .precoSingle{
                    position: absolute;
                    right: 7px;
                    font-family: "Cormorant Garamond";
                    letter-spacing: 0.075em;
                    font-size: 18px;
                    color: #fff;
                    font-weight: bold;
                }

                .comprarSingle{
                    display: block;
                    text-align: center;
                    line-height: 22px;
                    border-radius: 3px;
                    bottom: -45px;
                    left: -4px;
                    background-color: #005826;
                    position: absolute;
                    white-space: nowrap;
                    height: 30px;
                    width: 130px;
                    cursor: pointer;
                    padding: 5px;
                    font-weight: bold;
                    transition: all ease 0.2s;
                    &:hover{
                        opacity: 0.9;
                    }
                }
            }
        }
        
    }
    
}

section.middle{
    width: 100%;
    height: 35px;
    background: #EEEEEE;
}

section.galeria {
    height: auto;
    margin-bottom: 50px;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    h2{
        width: 260px;
        margin-bottom: 50px;
    }
    
    .galeriaContainer{
        width: 95%;
        max-width: 1450px;
        margin: 0 auto;
        .item{
            height: 400px;
            width: 200px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .galeriaSingle{
                margin: 0 auto;
                width: 180px;
                height: 180px;
                cursor: pointer;
                border: 2px solid #008037;
                background-image: url(../assets/img/brownie.png);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }


    }
}

section.depoimentos{
    height: auto;
    width: 100%;
    padding: 50px 0;
    background: #EEEEEE;

    h2{
        width: 224px;
        margin-bottom: 50px;
        padding-left: 8px;
    }
    
    .depoimentosContainer{
        width: 75%;
        max-width: 1200px;
        height: auto;
        margin: 0 auto;
        text-align: center;
        .depoimentoSingle{
            height: auto;
            width: 200px;
            display: flex;
            margin: 0 auto;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .depoimentoPic{
                height: 130px;
                width: 130px;
                border-radius: 50%;
                border: 3px solid #B0986C;
                background-image: url(../assets/img/e.jpeg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            p{
                text-align: center;
                color: black;
                font-size: 14px;
                line-height: 20px;
                margin-top: 15px;
            }

            p.depoimentoNome{
                color: #008037;
                font-weight: bold;
            }

        }
    }
}

section.contato{
    width: 100%;
    height: 150px;
    background-color: black;
    margin-top: 50px;
    position: relative;

    .contatoContainer{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;

        div{
            width: 100px;
        }
        .contatoLogoMidia{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            
            .logo{
                margin: 0 auto;
                width: 90%;
                height: 65px;
                background-image: url(../assets/img/logo.png);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .midia{
                width: 100%;
                height: 30px;
                display: flex;
                justify-content: space-evenly;
                div{
                    height: 30px;
                    width: 30px;
                    line-height: 30px;
                    text-align: center;

                    i{
                        color: #008037;
                        font-size: 25px;
                        cursor: pointer;
                        transition: all ease 0.2s;
                        &:hover{
                            color: #B0986C;
                        }
                    }
                }
            }

            .phone{
                width: 100px;
                position: relative;
                top: -10px;
                p{
                    font-size: 14px;
                    color:#fff;
                    white-space: nowrap;
                }
            }
        }

        .contatoText{
            width: 200px;
            display: flex;
            align-items: center;
            p{
                display: block;
                color: white;
                font-size: 11px;
                line-height: 20px;
            }
        }
    }

    .feitoPor{
        position: absolute;
        right: 0px;
        bottom: 5px;
        z-index: 3;
        width: 200px;
        height: 50px;
            
        img{
            height: 100%;
            width: 100%;
        }

        
    }
}

section.bottomNav{
    width: 100%;
    height: auto;
    background-color: #008037;
    nav{
        height: auto;
        background-color: #008037;

        div{
            margin: 0 auto !important;
        }
        ul{
            
            li{
                a{
                    color: #fff !important;
                    transition: all ease 0.2s;
                    &:hover{
                        color: #B0986C;
                    }
                }
            }
        }
           

    }
    
}

section.feitoPorMobile{
    display: none;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color:  white;
    a{
        width: 220px;
        height: 55px;

        img{
            height: 100%;
            width: 100%;
        }
    }
}


@media screen and (max-width: 1250px){
    section.cardapio .cardapioContainer{
        grid-template-columns: (1fr 1fr 1fr);
    }
}

@media screen and (max-width: 920px){
    section.cardapio .cardapioContainer{
        width: 75%;
        grid-template-columns: (1fr 1fr);
    }
    .feitoPor{
        transform: scale(.7);
    }
}

@media screen and (max-width: 853px){
    .phoneMidia{
        display: none;
    }
    nav:first-of-type{
        top: 0
    }

    nav .menuToggle{
        display: flex;
    }

    nav.navDesktop div.cartMenu .menu ul{
        display: none;
    }
    
    .logoDesktop{
        opacity: 0;
        z-index: -1;
    }

    .logoMobile{
        display: block !important;
    }

    nav.mobileMenu{
        display: block;
    }
    header{
        margin-top: 60px;
    }
    header .logoContainer{
        width: 70%;
    }

    header::before{
        background: linear-gradient(90deg, rgba(0,0,0,0.96) 60%, rgba(0,0,0,0.6597283181179776) 100%);    
    }
}

@media screen and (max-width: 770px){
    header{
        height: 80vh;
    }

    section.cardapio .cardapioContainer{
        grid-template-columns: (1fr);
    }

    section.contato{
        height: 350px;
    }

    section.contato .contatoContainer{
        flex-direction: column;
        align-items: center;
    }
    section.contato .contatoContainer .contatoLogoMidia{
        max-height: 190px;
    }
    section.contato .contatoContainer .contatoLogoMidia > *{
        transform: scale(1.4);
    }   
    section.contato .contatoContainer .contatoText{
        max-width: 380px;
        width: 90%;
    }
    section.contato .contatoContainer .contatoText p{
        text-align: center;
        font-size: 15px;
    }

    section.bottomNav nav ul{
        flex-direction: column;
    }

    section.bottomNav nav div.cartMenu .menu ul li a{
        display: block;
        padding: 10px;
    }
    section.contato .feitoPor{
        display: none;
    }

    section.feitoPorMobile{
        display: flex;
    }
}

@media screen and (max-width: 580px){
    header .logoContainer{
        width: 100%;
        padding: 65px 0;
    }

    header .logoContainer div{
        transform: scale(.7);
    }

    header .logoContainer .textContainer p{
        font-size: 27px;
    }
}

@media screen and (max-width: 421px){
    section.contato .contatoContainer .contatoText p{
        font-size: 12px;
    }
}

@media screen and (max-height: 490px){
    header .logoContainer{
        padding: 0px !important;
    }
    header .logoContainer div{
        transform: scale(0.7) !important;
    }
}

@media screen and (max-height: 420px){

    header .logoContainer div.logoMiddle{
        height: 171px !important;
        width: 272px !important;
    }
}

@media screen and (max-height: 380px){

    header .logoContainer div.logoMiddle{
        height: 140px !important;
        width: 207px !important;
    }
}