@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600;700&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
    transition: all ease-in-out 0.3s ;
    position: relative;
    right: 0;
}

.overlayLoad, .overlayCart{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 99999;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: 70%;
        max-width: 450px;
        opacity: .9;
        animation: opacidade 3s infinite;
    }
}
div.overlayCart{
    z-index: -999;
    opacity: .0;
    left: 0;
    transition: all ease-in-out 0.3s;
}

div.overlayCart.active{
    z-index: 999;
    opacity: .85;
    
}
@keyframes opacidade{
    0%{
        opacity: .9;
    }
    50%{
        opacity: .5;
    }

    100%{
        opacity: .9;
    }
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
    width: 7px;
    height: 7px;
    margin: 0 5px;
    border-radius: 50%;
    background: #B0986C ;
    transform: all ease 0.2s
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot.active{
    background: #008037;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

h2, h3{
    text-align: center;
    display: block;
    font-size: 20px;
    background: #008037;
    margin: 0 auto;
    color: white;
    padding: 5px;
    padding-right: 0;
    letter-spacing: 0.2em;
    -webkit-box-shadow: 1px 2px 8px 1px rgba(0,0,0,0.94); 
    box-shadow: 1px 2px 8px 1px rgba(0,0,0,0.94);
}


.phoneMidia{
    width: 100%;
    height: 22px;
    background-color: #008037;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2;
    justify-content: space-between;
    padding: 0 2%;

    .phone, .midia{
        height: 100%;
        width: 35px;
        height: 35px;
        line-height: 22px;
        p{
            font-size: 13px;
            white-space: nowrap;
            font-weight: bold;
            color: white;
        }
    }
    div.midia{
        width: 45px;
        display: flex;
        justify-content: space-between;
        div{
            width: 17px;
            height: 17px;
            i{
                font-size: 20px;
                color: white;
                cursor: pointer;
                line-height: 22px;
                transition: all ease 0.2s;
                &:hover{
                    color: #B0986C;
                }
            }
        }
    }
}



nav{
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
    padding: 0 3%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #b0986c6e;
    border-bottom: 2px solid #b0986c6e;

    .menuToggle{
        position: absolute;
        display: none;
        height: 100%;
        left: 5%;
        width: 60px;
        line-height: 60px;
        text-align: center;
        align-items: center;
        i{
            font-size: 40px;
            color: white;
            cursor: pointer;
        }
    }

    .logo{
        background-image: url(../assets/img/logo.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 90%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 70px;
    }

    .logo.logoMobile{
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    div{
        height: 100%;
        width: 50px;
    }

    div.cartMenu{
        width: 75%;
        height: 100%;
        display: flex;
        .menu{
            width: 90%;
            height: 100%;
            ul{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;

                li {
                    a{
                        font-size: 13px;
                        font-weight: bold;
                        color: #008037;
                        transition: all ease 0.2s;
                        &:hover{
                            color: #B0986C;
                        }
                    }
                }
            }
        }
        .cart{
            width: 35px;
            height: 100%;
            text-align: right;
            line-height: 77px;
            position: relative;
            right: -39px;
            i{
                color: #008037;
                font-size: 35px;
                cursor: pointer;
                transition: all ease 0.2s;
                &:hover{
                    color: #B0986C;
                }
            }
            
            p{
                position: absolute;
                top: 60%;
                cursor: pointer;
                font-weight: bold;
                transform: translateY(-50%) translateX(-50%);
                left: 50%;
                font-size: 13px;
                color: white;     
            }
        }
    }
}

nav:first-of-type{
    top: 22px;
    position: fixed;
}

nav.mobileMenu{
    position: fixed;
    display: none;
    z-index: 2;
    top: -172px;
    background-color: white;
    height: 172px;
    transition: .5s;
    ul{
        width: 100%;
        height: 22px;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        li {
            a{
                font-size: 11px;
                font-weight: bold;
                color: #008037;
                transition: all ease 0.2s;
                &:hover{
                    color: #B0986C;
                }
            }
        }
    }
}

nav.mobileMenu.active{
    top: 60px;
}

section.bottomNav nav{
    position: relative;
    top: unset;
}

header{
    width: 100%;
    height: 80vh;
    margin-top: 82px;
    z-index: 1;
    padding: 0;
    background-image: url(../assets/img/bgDesktop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    &::before{
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,0.96) 47%, rgba(0,0,0,0.6597283181179776) 100%);    
    }

    .logoContainer{
        position: relative;
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        padding: 27px 0;

        .logoMiddle{
            height: 260px;
            width: 370px;
            background-image: url(../assets/img/logo.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .textContainer{
            width: 370px;
            text-align: center;
            p{
                letter-spacing: 0.075em;
                font-size: 19px;
                font-weight: bold;
                color: #B0986C;
                font-family: "Cormorant Garamond";
            }
        }
    }
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1f1f1f;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00612a;
    width: 5px;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #005826;
  }

section.massas{
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 50px;
    h2{
        width: 140px;
    }
    .massasContainer{
        height: 250px;
        width: 70%;
        min-width: 300px;
        max-width: 1050px;
        margin: 0 auto;
        margin-top: 50px;

        .massaSingle{
            border: 4px solid #008037;
            cursor: pointer;
            height: 200px;
            width: 200px;
            margin: 0 auto;
            background-image: url(../assets/img/paoFuncional.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            .massaMenu{
                width: 100%;
                height: 50px;
                background: #00803791;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                position: absolute;
                padding: 2px 5px;
                text-align: left;
                bottom: 0;

                p{
                    color: white;
                    font-size: 13px;
                }

                p.massaInfo{
                    font-size: 10px;
                }

            }
        }
    }
}

section.cardapio{
    width: 100%;
    height: 80vh;
    background: #EEEEEE;
    padding-top: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
    
    
    h2, h3{
        width: 160px;
    }

    h3{
        color: #008037;
        background: white;
        width: 240px;
        margin-top: 20px;
    }

    .cardapioContainer{
        width: 95%;
        margin: 0 auto;
        margin-top: 50px;
        padding-bottom: 50px;
        max-width: 1200px;
        height: auto;
        display: grid;
        grid-template-columns: (1fr 1fr 1fr 1fr);
        justify-content: space-around;
        &::after {
            content: "";
            flex: auto;
        }

        .massaSingle{
            height: 230px;
            width: 250px;
            margin: 0 auto;
            margin-top: 50px;
            position: relative;
            border: 4px solid #B0986C;
            margin-bottom: 20px;

            img{
                position: absolute;
                width:100%;
                height: 100%;
                top: 0;
                left: 0;
            }

            .massaMenu{
                width: 100%;
                height: 60px;
                background: #b0986cc2;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                position: absolute;
                text-align: left;
                bottom: 0;
                
                .menuContainer{
                    width: 100%;
                    height: 40px;
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    position: absolute;
                    padding: 2px 5px;
                    text-align: left;
                    top: 0;
                    p{
                        color: white;
                        font-size: 13px;
                    }
    
                    .ingredientesToggle{
                        opacity: 0.95;
                        cursor: pointer;    
                        transition: all ease 0.2s;
                        color: #ffffff;
                        &:hover{
                            opacity: 0.75;
                        }
                    }
    
                    .precoSingle{
                        position: absolute;
                        right: 7px;
                        font-family: "Cormorant Garamond";
                        letter-spacing: 0.075em;
                        font-size: 18px;
                        color: #fff;
                        font-weight: bold;
                    }
                }
            }

            p.ingredientes{
                display: none;
                color: white;
                font-size: 12px;
                margin-left: 5px;
                margin-top: 50px;
            }

            .comprarSingle{
                display: block;
                text-align: center;
                line-height: 22px;
                border-radius: 3px;
                bottom: -45px;
                left: -4px;
                background-color: #005826;
                position: absolute;
                white-space: nowrap;
                height: 30px;
                width: 130px;
                cursor: pointer;
                padding: 5px;
                font-weight: bold;
                transition: all ease 0.2s;
                color: white;
                font-size: 13px;
                &:hover{
                    opacity: 0.9;
                }
            }
        }
        
    }
    
}

.massaSingle.active .massaMenu{
    height: auto !important;
    padding-bottom: 5px;
}

.massaSingle.active p.ingredientes{
    display: block !important;
}

section.middle{
    width: 100%;
    height: 35px;
    background: #EEEEEE;
}

section.galeria {
    height: auto;
    margin-bottom: 50px;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    h2{
        width: 260px;
        margin-bottom: 50px;
    }
    
    .galeriaContainer{
        width: 95%;
        max-width: 1450px;
        margin: 0 auto;
        .item{
            height: 400px;
            width: 200px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .galeriaSingle{
                margin: 0 auto;
                width: 180px;
                height: 180px;
                cursor: pointer;
                border: 2px solid #008037;
                background-image: url(../assets/img/brownie.png);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }


    }
}

section.depoimentos{
    height: auto;
    width: 100%;
    padding: 50px 0;
    background: #EEEEEE;

    h2{
        width: 224px;
        margin-bottom: 50px;
        padding-left: 8px;
    }
    
    .depoimentosContainer{
        width: 75%;
        max-width: 1200px;
        height: auto;
        margin: 0 auto;
        text-align: center;
        .depoimentoSingle{
            height: auto;
            width: 200px;
            display: flex;
            margin: 0 auto;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .depoimentoPic{
                height: 130px;
                width: 130px;
                border-radius: 50%;
                border: 3px solid #B0986C;
                background-image: url(../assets/img/e.jpeg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            p{
                text-align: center;
                color: black;
                font-size: 14px;
                line-height: 20px;
                margin-top: 15px;
            }

            p.depoimentoNome{
                color: #008037;
                font-weight: bold;
            }

        }
    }
}

section.contato{
    width: 100%;
    height: 150px;
    background-color: black;
    margin-top: 50px;
    position: relative;

    .contatoContainer{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;

        div{
            width: 100px;
        }
        .contatoLogoMidia{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            
            .logo{
                margin: 0 auto;
                width: 90%;
                height: 65px;
                background-image: url(../assets/img/logo.png);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .midia{
                width: 100%;
                height: 30px;
                display: flex;
                justify-content: space-evenly;
                div{
                    height: 30px;
                    width: 30px;
                    line-height: 30px;
                    text-align: center;

                    i{
                        color: #008037;
                        font-size: 25px;
                        cursor: pointer;
                        transition: all ease 0.2s;
                        &:hover{
                            color: #B0986C;
                        }
                    }
                }
            }

            .phone{
                width: 100px;
                position: relative;
                top: -10px;
                p{
                    font-size: 14px;
                    color:#fff;
                    white-space: nowrap;
                }
            }
        }

        .contatoText{
            width: 200px;
            display: flex;
            align-items: center;
            p{
                display: block;
                color: white;
                font-size: 11px;
                line-height: 20px;
            }
        }
    }

    .feitoPor{
        position: absolute;
        right: 0px;
        bottom: 5px;
        z-index: 3;
        width: 200px;
        height: 50px;
            
        img{
            height: 100%;
            width: 100%;
        }

        
    }
}

section.bottomNav{
    width: 100%;
    height: auto;
    background-color: #008037;
    nav{
        height: auto;
        background-color: #008037;

        div{
            margin: 0 auto !important;
        }
        ul{
            
            li{
                a{
                    color: #fff !important;
                    transition: all ease 0.2s;
                    &:hover{
                        color: #B0986C;
                    }
                }
            }
        }
           

    }
    
}

section.feitoPorMobile{
    display: none;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color:  white;
    a{
        width: 220px;
        height: 55px;

        img{
            height: 100%;
            width: 100%;
        }
    }
}


section.cart{
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    transition: all ease-in-out 0.3s ;
    max-width: 450px;
    padding: 20px 0;
    background: white;
    border-left: 1px solid #005826;
    

    i.backArrow{
        position: absolute;
        top: 30px;
        left: 10px;
        color: #005826;
        font-size: 35px;
        cursor: pointer;
    }

    h2{
        width: 175px;
        margin-top: 10px;
        font-size: 15px;
    }

    h3{
        font-size: 11px;
        background: white;
        color: #005826;
        padding: 6px 18px;
    }

    h4{
        top: 150px;
        position: absolute;
        display: none;
        left: 50%;
        transform: translateX(-50%);
    }


    .descriptionContainer, .totalContainer{
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        margin-top: 30px;
        width: 95%;
        padding-bottom: 20px;
        border-bottom: 1px solid #00582657;
        
    }

    .productsContainer{
        width: 95%;
        height: 260px;
        margin: 0 auto;
        overflow-y: auto;
        overflow-x: hidden;
        .productWrapper{
            width: 98%;
            height: auto;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .productSingle{
                width: 100%;
                height: 85px;
                border-bottom: 1px solid #00582657;
                display: flex;
                align-items: center;
                position: relative;
                .productDelete{
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    top: 0px;
                    right: -3px;

                    p{
                        display: block;
                        color: #222;
                        font-size: 25px;
                        transform: rotate(45deg);
                        cursor: pointer;
                        -webkit-touch-callout: none; 
                        -webkit-user-select: none; 
                        -khtml-user-select: none; 
                        -moz-user-select: none; 
                        -ms-user-select: none; 
                    }
                }
                .productDescription{
                    display: flex;
                    align-items: center;
                    width: 157px;
                    .productText{
                        margin-left: 5px;
                        p{
                            color: #005826;
                        }

                        .productName{
                            font-size: 14px;
                        }
                    }
                    img{
                        height: 50px;
                        width: 50px;
                    }
                }

                .productQtn{
                    height: 100px;
                    width: 100px;
                    margin-left: 19px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    p, input{
                        display: block;
                        height: 25px;
                        width: 25px;
                        text-align: center;
                        font-size: 22px;
                        line-height: 25px;
                        text-align: center;
                        -webkit-touch-callout: none; 
                        -webkit-user-select: none; 
                        -khtml-user-select: none; 
                        -moz-user-select: none; 
                        -ms-user-select: none; 
                        user-select: none; 
                    }

                    .plusQtn{
                        background: #fff;
                        color: #005826;
                        box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, .51);
                        cursor: pointer;
                    }
                    .qtn{
                        input{
                            color: #005826;
                            font-size: 25px;
                            border: none;
                            outline: none;
                            width: 50px !important;
                        }
                        
                    }
                    .minusQtn{
                        background: #005826;
                        color: #fff;
                        margin-left: 25px;
                        
                        cursor: pointer;
                    }
                }

                .productPrice{
                    height: 50px;
                    width: 110px;
                    text-align: right;
                    line-height: 50px;

                    span{
                        color: #005826;
                        font-weight: bold;
                    }

                    .realNumber{
                        display: none;
                    }
                }
            }
        }
    }

    #entrega{
        margin-left: 14px;
        accent-color: #008037;
        position: relative;
        top: 2px;
    }
    label{
        cursor: pointer;
        font-size: 13px;
        font-weight: bold;
    }
    .productObservation{
        width: 93.5%;
        margin: 0 auto;
        margin-top: 15px;
        p{
            font-size: 14px;
            color: #005826;
            font-weight: 600;
        }
        textarea{
            resize: none;
            width: 100%;
            height: 60px;
            border: 1px solid #005826;
            outline: none;
            padding: 5px;
            margin-top: 5px;
            margin-bottom: 10px;
            &:focus{
                border: 2px solid #005826;
            }
        }
    }

    div.totalContainer{
        border-bottom: none;
        margin-top: 20px !important;
        h3{ 
            position: relative;

            .total, .subtotal{
                font-weight: 700;
            }
        }
    }
}

section.cart.active, section.finalizarPedido.active{
    right: 0 !important;
}

h2.finalizarPedido{
    width: 240px !important;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding-left: 15px;
    p{
        margin-left: 15px;
    }

    i{
        color: #fff !important;
        font-size: 29px;
    }
}


section.finalizarPedido{
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 9999;
    height: 100%;
    width: 100%;
    top: 0;
    transition: all ease-in-out 0.3s ;
    max-width: 450px;
    padding: 20px 0;
    background: white;
    border-left: 1px solid #005826;

    i.backArrow{
        position: absolute;
        top: 30px;
        left: 10px;
        color: #005826;
        font-size: 35px;
        cursor: pointer;
    }

    h2{
        width: 215px;
        margin-top: 10px;
        font-size: 15px;
    }

    h4{
        text-align: center;
        position: relative;
        top: 15px;
    }

    form{
        margin: 0 auto;
        width: 300px;
        height: auto;
        min-height: 215px;
        margin-top: 50px;
        display: flex;
        .column{
            width: 50%;
            height: 100%;
            min-height: 165px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            input{
                background: white;
                border: none;
                outline: none;
                color: #00612a;
                font-weight: 700px;
                width: 115px;
                padding-bottom: 5px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.541);
                margin-bottom: 45px;
                ::placeholder{
                    font-weight: 700;
                }
            }

            input::-webkit-input-placeholder{
                color:#00612a7c;
                font-weight: bold;
            }
            input:-moz-placeholder {
                color:#00612a7c;
                font-weight: bold;
            }
            
        }

        .rightColumn{
            padding-left: 35px;
        }
    }

    .pagamento{
        width: 300px;
        margin: 0 auto;
        height: 100px;
        margin-top: -40px;
        margin-bottom: 20px;
        height: 85px;

        .containerRadio{
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            width: 100%;
            height: 40px;
            input{
                accent-color: #008037;
            }
    
            label{
                text-transform: uppercase;
                font-weight: bold;
                margin-right: 48px;
                font-size: 13px;
                margin-left: 3px;
            }
        }


        .troco{
            display: flex;

            label{
                font-size: 13px;
                font-weight: bold;
                margin-left: 6px;
            }
    
            input#troco{
                border: none;
                outline: none;
                width: 35px;
                background: none;
                border-bottom: 1px solid #00612a;
                padding-bottom: 2px;
                padding-left: 2px;
                position: relative;
                top: -1px;
            }
        }
        

    }

    p.pSeuPedido{
        color: #00612a;
        font-weight: bold;
        display: block;
        width: 300px;
        margin: 0 auto;
        margin-bottom: 5px;
    }

    .seuPedido{
        width: 300px;
        height: 145px;
        margin: 0 auto;
        border: 1px solid;
        padding: 0 0 0 10px;
        position: relative;
        overflow: hidden;
        .container{
            width: 100%;
            height: 100%;
            transition: all ease-in-out 0.6s;
            textarea{
                display: block;
                width: 100%;
                border: none;
                outline: none;
                font-size: 13px;
                height: 100%;
                resize: none;
            }
        }
        

        p{
            transition: all ease-in-out 0.6s;
            display: block;
            position: absolute;
            height: 20px;
            width: 100%;
            text-align: center;
            background: #00612a;
            bottom: -20px;
            right: 0;
            color: white;
            font-weight: lighter;
            font-size: 12px;
            line-height: 20px;
            letter-spacing: 0.075em;
            cursor: pointer;
            &:hover{
                background-color: #008037;
            }
        }

        &:hover{
            .container{
                height: 123px;
            }
            p{
                bottom: 0 !important;
            }
        }
    }

    .pedir{
        width: 300px;
        height: 60px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        h2{
            height: 30px;
            margin-top: 0px;
            width: 130px;
            display: flex;
            align-items: center;
            text-align: left;
            justify-content: space-between;
            padding-left: 12px;
            padding-right: 5px;
            cursor: pointer;
            left: 0;
            position: absolute;
            opacity: 0.5;
            pointer-events: none;
            transition: all ease-in-out .2s;
            i{
                color: #fff;
                font-size: 25px;
            }
        }

        h2.active{
            opacity: 1;
            pointer-events: initial;
        }

        p{
            font-size: 11px;
            display: block;
            width: 120px;
            position: absolute;
            right: 0;
        }
    }

    .addressToggle.unabled{
        display: none;
    }
}

@media screen and (max-width: 1250px){
    section.cardapio .cardapioContainer{
        grid-template-columns: (1fr 1fr 1fr);
    }
}

@media screen and (max-width: 920px){
    section.cardapio .cardapioContainer .massaSingle{
        height: 180px;
        width: 200px;
    }
    .feitoPor{
        transform: scale(.7);
    }

}

@media screen and (max-width: 853px){
    .phoneMidia{
        display: none;
    }
    nav:first-of-type{
        top: 0
    }

    nav .menuToggle{
        display: flex;
    }
    nav div.cartMenu .cart{
        right: -5px;
    }
    nav.navDesktop div.cartMenu .menu ul{
        display: none;
    }
    
    .logoDesktop{
        opacity: 0;
        z-index: -1;
    }

    .logoMobile{
        display: block !important;
    }

    nav.mobileMenu{
        display: block;
    }
    header{
        margin-top: 60px;
    }
    header .logoContainer{
        width: 70%;
    }

    header::before{
        background: linear-gradient(90deg, rgba(0,0,0,0.96) 60%, rgba(0,0,0,0.6597283181179776) 100%);    
    }
}

@media screen and (max-width: 770px){
    header{
        height: 80vh;
    }

    section.cardapio .cardapioContainer .massaSingle{
        height: 150px;
        width: 170px;

        .comprarSingle{
            line-height: 16px;
            height: 25px;
            width: 110px;
            font-size: 11px;
            bottom: -38px;
        }   

        .massaMenu{
            height: 45px;
            .menuContainer{
                margin-top: 0;
                height: 45px;
                p{
                    font-size: 10px;
                }

                .precoSingle {
                    font-size: 15px;
                }
            }

            p.ingredientes{
                font-size: 10px;
            }
        }
    }

    section.contato{
        height: 350px;
    }

    section.galeria .galeriaContainer{
        width: 420px;
    }

    section.contato .contatoContainer{
        flex-direction: column;
        align-items: center;
    }
    section.contato .contatoContainer .contatoLogoMidia{
        max-height: 190px;
    }
    section.contato .contatoContainer .contatoLogoMidia > *{
        transform: scale(1.4);
    }   
    section.contato .contatoContainer .contatoText{
        max-width: 380px;
        width: 90%;
    }
    section.contato .contatoContainer .contatoText p{
        text-align: center;
        font-size: 15px;
    }

    section.bottomNav nav ul{
        flex-direction: column;
    }

    section.bottomNav nav div.cartMenu .menu ul li a{
        display: block;
        padding: 10px;
    }
    section.contato .feitoPor{
        display: none;
    }

    section.feitoPorMobile{
        display: flex;
    }
}

@media screen and (max-width: 580px){
    header .logoContainer{
        width: 100%;
        padding: 65px 0;
    }

    header .logoContainer div{
        transform: scale(.7);
    }

    header .logoContainer .textContainer p{
        font-size: 27px;
    }
    section.galeria .galeriaContainer{
        width: 90%;
        max-width: 420px;
    }

    
    section.cardapio .cardapioContainer{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 421px){
    section.contato .contatoContainer .contatoText p{
        font-size: 12px;
    }
}

@media screen and (max-width: 390px){


    section.cardapio .cardapioContainer .massaSingle{
        height: 125px;
        width: 145px;

        .comprarSingle{
            line-height: 16px;
            height: 25px;
            width: 90px;
            font-size: 9px;
            bottom: -38px;
        }   

        .massaMenu{
            height: 35px;
            .menuContainer{
                margin-top: 0;
                height: 35px;
                p{
                    font-size: 9px;
                }

                .precoSingle {
                    font-size: 12px;
                }
            }

            p.ingredientes{
                font-size: 9px;
            }
        }
    }
}

@media screen and (max-height: 490px){
    header .logoContainer{
        padding: 0px !important;
    }
    header .logoContainer div{
        transform: scale(0.7) !important;
    }
}

@media screen and (max-height: 420px){

    header .logoContainer div.logoMiddle{
        height: 171px !important;
        width: 272px !important;
    }
}

@media screen and (max-height: 360px){

    header .logoContainer div.logoMiddle{
        height: 140px !important;
        width: 207px !important;
    }

    section.cardapio .cardapioContainer .massaSingle{
        height: 120px;
        width: 140px;

        .comprarSingle{
            line-height: 16px;
            height: 25px;
            width: 110px;
            font-size: 11px;
            bottom: -38px;
        }   

        .massaMenu{
            height: 45px;
            .menuContainer{
                margin-top: 0;
                height: 45px;
                p{
                    font-size: 10px;
                }

                .precoSingle {
                    font-size: 15px;
                }
            }

            p.ingredientes{
                font-size: 10px;
            }
        }
    }
}